header {
  height: 150px;
  width: 90%;
  margin: auto;
  border: 1px solid orchid;
  display: flex;
  flex-direction: row;
}

header img {
  height: 80%;
  /* width: 25%; */
  margin-right: 10%;
  
  /* border: 2px solid black; */
}

header h1 {
  /* border: 2px solid black; */
}